/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set background and font styles */
body {
    opacity: 0.2;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-image: url("images/background.jpeg");
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin: 20px 0;
    font: #f4f4f4;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

/* Features section styles */
#features {
    background-color: #f9f9f9;
    text-align: center;
    padding: 50px 0;
}

.feature {
    margin: 20px;
}

/* Contact section styles */
#contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: " ";
    clear: both;
    display: table;
  }